@import "src/design-tokens/colors.less";
@import "src/design-tokens/spaces.less";

.dialog-wrapper {
  position: absolute;
  overflow:auto;
  width: 100%;
  height: 80%;
  top: 0;
}

.interaction-field-wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-bottom: @medium-space;
}