.interaction-field-content {
    padding: 5px 20px;
    width: 100%;
}

.interaction-field {
    font-style: oblique;
    background: #F5F5F5;
    color: coral;
    border: 0;
    width: 90%;
    font-size: large;
    padding: 5px;
    outline:none;
}
