.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    list-style-type: none;
    padding: 0;
    margin: 8px 20px;
}

.dialog-content > div {
    margin-bottom: 4px;
}

.introduction {
    color: cadetblue;
    font-size: large;
    font-weight: bold;
}

.input {
    color: #DCDCDC;
    font-size: medium;
}

.response {
    color: lightgreen;
    font-style: italic;
    font-size: medium;
    margin: 8px 0 0 16px;
}

.dialog-text-in-progress {
    margin: 8px 0 0 16px;
}